@import 'mixin';
@import 'variables';

/*___SERVICES___*/

.sevices {
    grid-area: sevices;  
    position: relative;
    background: url(../img/services/decor.png) top right no-repeat ;
  
    .sevices__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1208px;
        margin: 100px  auto;
        position: relative;
        @media (max-width:840px) {
            justify-content: space-around;
            margin: 50px auto;
        }

        .sevices__cards-item {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            border-radius: 36px;
            transition: box-shadow .5s, transform .3s;
            width: 280px;
            .sevices__cards-item-img {
                margin: 0 auto;   
            }
            .sevices__cards-item-title {
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                text-align: center;
                margin-top: 29px; 
                margin-bottom: 15px;
                color: $light_2;
            }
            .sevices__cards-item-text {
                width: 267px;  
                text-align: center;
                padding-top: 15px;
                padding-bottom: 43px;
                padding-left: 35px;
                padding-right: 30px;
                background-color: #fff;
                border-radius: 36px;
                color: $light;
            }
            .sevices__cards-item-decore{
                position: absolute;
                width: 100px;
                height: 100px;
                background: #DF6951;
                border-radius: 30px 0px 10px;
                bottom: -35px;
                left: -33px;
                z-index: -4;
                visibility: hidden;
                opacity:0
            }
            &:hover{
            transform: scale(1.01);
            background: #FFFFFF;
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
            z-index: 1;
            }
            &:hover .sevices__cards-item-decore{
                visibility: visible;
                opacity:1;
                transition: .8s;
            }
        }
    }
}
  
  
  
  
  
  
  
  