@import 'mixin';
@import 'variables';

/*___SUBSCRIBE___*/

.subscribe {
    max-width: 1356px;
    height: 490px;
    margin: 100px auto;
    background: url(../img/subscribe/decore.png) right bottom no-repeat;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 70px;
        height: 70px;
        top: -3%;
        left: 89%;
        background: url(../img/subscribe/icon.png) 95% 0 no-repeat;
        @media (max-width:600px) {
            left: 85%;
        }
        @media (max-width:480px) {
            left: 80%;
        }
    }
    .subscribe__form {
        max-width: 1257px;
        width: 93%;
        height: 407px;
        padding-top: 15px;
        background: url(../img/subscribe/box.png) no-repeat;
                    
        h2 {
            max-width: 859px;
            width: 70%;
            margin: 0 auto;
            padding-top: 5%;
            font-weight: $semi-bold;
            font-size: 33px;
            line-height: 164%;
            text-align: center;
            color: $light;
        }
        form {
            margin: 74px auto;
            display: flex;
            justify-content: center;
            gap: 24px;
            .subscribe__input {
                width: 30%;
                height: 68px;
                max-width: 421px;
                background: $white;
                border-radius: 10px;    
            }
            input[type="email"] {
                margin-top: 20px;
                padding-left: 66px;
                font-weight: $regular;
                font-size: 14px;
                color: #39425D;
                background: url(../img/subscribe/email-icon.png) no-repeat;
                background-position: 30px;
            }
            input[type="submit"] {
                width: 30%;
                max-width: 180px;
                height: 68px;
                font-weight: $semi-bold;
                font-family: 'Open Sans';
                font-size: 17px;
                line-height: 23px;
                color: $white;
                background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
                border-radius: 10px;
                transition: transform .1s;
                &:hover {
                    text-decoration: underline;
                }
                &:focus {
                    text-decoration: underline;
                }
                &:active {
                    transform: scale(1.1);
                } 
            }
        }
       
        @media (max-width:980px) {
            h2 {
                font-size: 24px;
                padding-left: 5%;
            }
        }
        @media (max-width:480px) {
            form {
                flex-direction: column;
                align-items: center;
                margin: 0 auto;
                h2 {
                    font-size: 18px;
                    padding-left: 10%;
                }
                input[type="email"] {
                    width: 50%;
                }
            }
        }   
    }
}

