/*--fonts--*/
$font_acent: Volkhov, serif;
$main_font: 'Poppins', sans-serif;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

/*--colors--*/
$light: #5E6282;
$light_2: #1E1D4C;
$light_card: #84829A;
$dark: #14183E;
$dark_2: #080809;
$dark_3: #181E4B; 
$white: #FFFFFF;
$navcolor: #212832;
$primary: #DF6951;
$second-primary: #8A79DF;
$background: #E5E5E5;